USE [master]
GO
/****** Object:  Database [shipper]    Script Date: 14-Mar-24 1:00:46 AM ******/
CREATE DATABASE [shipper]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'shipper', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\shipper.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'shipper_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\shipper_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shipper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shipper]
GO
/****** Object:  Table [dbo].[assignment]    Script Date: 14-Mar-24 1:00:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assignment](
	[order_id] [char](10) NOT NULL,
	[shipper_id] [char](10) NOT NULL,
	[total_shipping_cost] [money] NULL,
	[delivery_date] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders_table]    Script Date: 14-Mar-24 1:00:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders_table](
	[order_id] [char](10) NOT NULL,
	[weight] [float] NULL,
	[distance] [float] NULL,
	[adress] [nchar](50) NULL,
	[Coordinate] [char](20) NULL,
	[Status] [char](20) NULL,
	[customer_name] [nchar](20) NULL,
	[phone_number] [char](10) NULL,
 CONSTRAINT [constraint_name_1] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipper_table]    Script Date: 14-Mar-24 1:00:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipper_table](
	[shipper_id] [char](10) NOT NULL,
	[name] [nchar](30) NULL,
	[home_town] [nchar](50) NULL,
	[phone_number] [char](10) NOT NULL,
	[district] [nchar](15) NULL,
	[license_plates] [nchar](10) NULL,
 CONSTRAINT [constraint_name] PRIMARY KEY CLUSTERED 
(
	[shipper_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[assignment]  WITH CHECK ADD  CONSTRAINT [link_3] FOREIGN KEY([shipper_id])
REFERENCES [dbo].[shipper_table] ([shipper_id])
GO
ALTER TABLE [dbo].[assignment] CHECK CONSTRAINT [link_3]
GO
ALTER TABLE [dbo].[assignment]  WITH CHECK ADD  CONSTRAINT [link_4] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders_table] ([order_id])
GO
ALTER TABLE [dbo].[assignment] CHECK CONSTRAINT [link_4]
GO
USE [master]
GO
